{:lib      io.github.hive-agi/hive-notify
 :minor    1
 :license  {:name "MIT" :url "https://opensource.org/licenses/MIT"}
 :scm-url  "https://gitea.hive-mcp.com/hive-agi/hive-notify"
 :src-dirs ["src"]
 :publish  :gitea}
